html,body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

main {
    background-color: pink;
    padding: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

header img{
    width: 90%;
    align-self: center;
}

header h1 {
    font-style: italic;
    font-weight: lighter;
    color: darkviolet;
    font-size: 500%;
    margin-bottom: 0%;
    margin-top: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

nav ul a {
    text-decoration: none;
    font-size: larger;
}

footer {
    margin: 20px;
    text-align: center;
    color: darkviolet;
    font-weight: bold;
    font-style: italic;
}

.link-inicio {
    color: red;
}

.link-colores {
    color: green;
}

.link-asesor {
    color: blue;
}

.sect-inicio {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    margin: 1%;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
}

.sect-inicio h3 {
    text-decoration: underline;
    margin: 0%;
    margin-bottom: 1%;
}

.sect-inicio p {
    margin: 0%;
    margin-bottom: 1%;
}

.sect-inicio ul {
    margin: 0%;
}

.sect-colores {
    margin: 0%;
    padding: 0%;
}

.sect-colores ul {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    gap: 10px;
    margin: 10px;
}

.sect-colores li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0%;
    border-radius: 10px;
}

.sect-colores p {
    display: block;
}

.sect-asesor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-flex {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-items: center;
    margin-bottom: 5%;
    align-items: start;
}

.flex-datos1, .flex-datos2 {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

label {
    margin: 2%;
}

input {
    border-radius: 10px;
    margin: 10px;
}

button {
    display: block;
    text-align: center;
    background-color: darkviolet;
    border-radius: 10px;
    min-width: 10px;
    color: white;
}