* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5rem;
}

header h3 {
    font-style: italic;
}

header a {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

header a img {
    width: 30px;
}

nav {
    width: 75%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

/* MAIN INICIO*/

main {
    height: 100vh;
    padding: 2em;
}

main h2 {
    margin-bottom: 1rem;
}

main .section-1-inicio {
    width: 51%;
    display: inline-block;
    vertical-align: top;
    margin: 0.6rem;
}

main .section-1-inicio article {
    margin: 4rem 0;
    font-size: 1.2rem;
}

main .section-2-inicio {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 0.6rem 0.1rem;
}

.section-2-inicio img{
    width: 150px;
    border-radius: 100px;
}

.section-2-inicio article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
}

hgroup h3, hgroup h4  {
    padding-bottom: 0.5rem;
}

hgroup h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

hgroup h4 {
    font-style: italic;
}

/* FOOTER */

footer {
    padding: 2rem;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer article {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 1rem;
    width: 50%;
}

footer address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer nav img {
   width: 40px;
}



/* MAIN TRABAJOS */

main {
    padding: 3rem;
    height: 100%;
}

main .section-1-trabajos h1{
color: black;
font-size: 2rem;
}

.section-1-trabajos article {
    margin: 2rem 0;
    font-size: 1.2rem;
}

.section-1-trabajos, .contenedor-grid-2 {
    width: 65%;
    margin: 0 auto;

}

.contenedor-grid-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
}

.contenedor-grid-2 article img {
    border-radius: 10px;
}

.contenedor-grid-2 article:nth-child(1) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
}

.contenedor-grid-2 article:nth-child(2) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
}

.contenedor-grid-2 article:nth-child(3) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
}

.contenedor-grid-2 article:nth-child(4) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
}

.contenedor-grid-2 article:nth-child(5) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 5;
}

.contenedor-grid-2 article:nth-child(6) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 5;
}

.contenedor-grid-2 article:nth-child(7) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 9;
}

.contenedor-grid-2 article:nth-child(8) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 9;
}

.contenedor-grid-2 article:nth-child(9) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 9;
}

/* FORMULARIO */

.presupuestos-main {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.presupuesto-section {
    margin-bottom: 2rem;
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

form .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 50%;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
}

.col-1 p {
    display: block;
    max-width: 50%;
}

form label {
    font-style: italic;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: right;
    display: block;
    padding-top: 10px;
}

textarea {
    margin-top: 10px;
    height: 120px;
    width: 300px;
}






        